<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83003546482-s8qurh3aitj9cujtplpj5qfhc6mg2bv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83003546482-s8qurh3aitj9cujtplpj5qfhc6mg2bv4</string>
	<key>API_KEY</key>
	<string>AIzaSyD8ya1ksfOnZt6dTJq_EgPG4rnPyY02F_8</string>
	<key>GCM_SENDER_ID</key>
	<string>83003546482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rishoguru.rishoSpeech</string>
	<key>PROJECT_ID</key>
	<string>rishospeechdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>rishospeechdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83003546482:ios:8c71d90f0dd5d612ba1beb</string>
</dict>
</plist>